*.py[co]
*.sw[po]
*.x
*.npy
*.raw
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
logs/
*.db
db/
test_db/
.vagrant
*.sublime-project
celerybeat-schedule.*
celerybeat.*
*.sublime-workspace
media/*
!media/default_images
static/*
whoosh_index/*
/*/static/coffee/*.js
/*/static/coffee/*.js.map
/*/static/*/coffee/*.js
/*/static/*/coffee/*.js.map
/.idea
/.vagrant
/__pycache__
local.py
/last_scan/*